#root {
    margin: 0px
}

.text-hover-black:hover {
    color: rgb(44, 42, 42) !important;
  }

  .jumbotron-background {
    background-image: url('bathroom-four.jpg');
    background-size: cover;
    background-position: center;
    height: 720px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* adjust darkness here */
    z-index: 1;
  }

  .jumbotron-content {
    z-index: 2;
  }

.max-height-800-px {
    max-height: 800px;
}

.small-grey-link {
  font-size: 12px;
  color: lightgrey;
  text-decoration: none;
}

.small-grey-link:hover {
  color: black;
  cursor: pointer;
}

.moved-up {
  margin-top: -2rem;
}
.moved-up-more {
  margin-top: -3rem;
}

.icon-photo {
  width: 3rem;
  border-radius: 100%;
  padding-left: 10px;
}


.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.coral-bg {
  background-color: coral;
}

.coral-bg:hover {
  background-color: #f55555;
}